@import url("https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&family=Water+Brush&display=swap");

.App {
  letter-spacing: 0.3rem;
  color: white;
  text-align: center;
  min-height: 100vh;
  background-image: linear-gradient(to top, lightgreen, black, black, black);
  overflow: hidden;
}
.displayNone {
  display: none;
}
.closeMenu {
  background: transparent;
  color: lightgreen;
  border: lightgreen 1px solid;
}
.closeMenu:hover {
  border: yellow 1px solid;
  color: yellow;
}
.menuIcon {
  font-size: 2rem;
  position: absolute;
  top: 5%;
  right: 5%;
  border: 3px solid lightblue;
  border-radius: 50%;
  padding: 10px;
  color: lightblue;
}
.menuHeader {
  display: flex;
  justify-content: space-around;
  position: relative;
  margin-top: 2%;
}
.menuBtn {
  background: transparent;
  color: lightgreen;
  text-transform: uppercase;
  font-weight: bold;
}
.menuBtn:hover {
  color: yellow;
}
.mainContainer {
  text-transform: uppercase;
  font-family: "Rubik Moonrocks", cursive;
  font-size: 0.9em;
  color: whitesmoke;
  position: relative;
  width: 33%;
  height: 100vh;
  position: relative;
  top: 20%;
  left: 4%;
}

.jobTitleContainer {
  position: absolute;
  top: 15%;
  height: 50vh;
}

.jobTitleContainer > h1,
.contactHeader,
.educationHeader {
  margin: 20px;
  text-transform: uppercase;
  font-family: "Rubik Moonrocks", cursive;
  font-size: 2.4rem;
  background: -webkit-linear-gradient(yellow, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.templateContainer,
.educationContainer,
.contactContainer,
.skillContainer,
.projectContainer {
  width: 43%;
  height: 80vh;
  border: 1px solid lightblue;
  position: absolute;
  left: 38%;
  top: 15%;
}
.skillContainer {
  height: 80vh;
}

.blackBack {
  border-radius: inherit;
  width: 100%;
  height: inherit;
  background: black;
  opacity: 0.3;
  position: absolute;
  top: 0%;
}
.contacts {
  width: 100%;
  height: inherit;
  position: relative;
  top: 10%;
  color: white;
  font-weight: bold;
  text-align: center;
}

.contactHeader {
  position: relative;
  font-size: 1.5rem;
  align-items: center;
  width: 50%;
  left: 25%;
}
.contactIconsContainer {
  position: relative;
  top: 20%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 80%;
  position: absolute;
  width: 100%;
}
.contactIcon {
  font-size: 3.5rem;
  color: lightgreen;
}
.contactIcon:hover {
  color: cyan;
}

.skillGrid {
  position: relative;
  top: 0%;
  row-gap: 50px;
  font-family: "Rubik Moonrocks", cursive;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.projectContainer {
  overflow: hidden;
}
.galleryContainer {
  position: relative;
  top: 17%;
  width: 300%;
  transition: 1s;
  height: 90%;
  display: flex;
}
.galleryBtnRight {
  position: absolute;
  top: 40%;
  right: 15%;
  color: lightblue;
  font-size: 3rem;
  background: transparent;
  z-index: 1;
  border: none;
}
.galleryBtnLeft {
  position: absolute;
  top: 40%;
  color: lightblue;
  font-size: 3rem;
  background: transparent;
  z-index: 1;
  left: 15%;
  border: none;
}

.galleryBtnRight,
.galleryBtnLeft :hover {
  color: yellow;
}

.projectImg1,
.projectImg2,
.projectImg3 {
  width: 100%;
  height: 90%;
  object-fit: contain;
}
.projectHeader {
  width: 100%;
  height: 10%;
  position: absolute;

  z-index: 1;
  display: flex;
  justify-content: space-around;
}

.switchProjectBtn {
  border: none;
  background: transparent;
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
}
.switchProjectBtn:hover {
  background: lightgreen;
  color: black;
}
.githubLink {
  position: fixed;
  text-transform: uppercase;
  bottom: 5%;
  left: 5%;
  color: white;
  font-size: 2rem;
}
.githubLink:hover {
  color: yellow;
}

@media screen and (max-width: 680px) {
  .App {
    padding: 5%;
  }
  .mainContainer {
    width: 90%;
    margin-left: 5%;
    height: 100vh;
    font-size: 1em;
    top: -10%;
    left: 0%;
  }
  .jobTitleContainer {
    margin-top: -10%;

    left: 4%;
  }
  .jobTitleContainer > h1 {
    background: -webkit-linear-gradient(green, lightblue, pink);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .projectContainer,
  .contactContainer,
  .educationContainer,
  .skillContainer {
    width: 80%;
    color: white;
    left: 10%;
  }
  .projectContainer {
    border: none;
  }
  .contactHeader,
  .educationHeader {
    font-size: 1.3rem;
    left: 25%;
  }
  .skillNameIcon > p {
    font-size: 0.6rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: lightgreen;
  }
  .switchProjectBtn {
    font-size: 0.8rem;
  }
  .galleryBtnLeft {
    left: -3%;
    font-size: 3rem;
  }
  .galleryBtnRight {
    right: -3%;
    font-size: 3rem;
  }
  .githubLink {
    left: 18%;
    font-size: 1rem;
  }
}
