@import url("https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&family=Water+Brush&display=swap");

.App {
  color: white;
  text-align: center;
  height: auto;
  background-image: linear-gradient(to top, #ff00cc, #333399);
  padding: 10%;
}
.mainContainer {
  text-transform: uppercase;
  font-family: "Rubik Moonrocks", cursive;
  font-size: 0.9em;
  color: whitesmoke;
  position: relative;
  width: 33%;
  height: 70vh;
  position: relative;
  top: 10%;
  border-radius: 2%;
  border: 1px white solid;
}
.backgroundOpacity {
  color: whitesmoke;
  width: 100%;
  height: inherit;
  position: absolute;
  border-radius: 2%;
  background: white;
  opacity: 0.25;
}
.jobTitleContainer {
  margin-top: 5%;
  height: 50vh;
}
.jobTitleContainer > h1 {
  font-size: 2.4rem;
  background: -webkit-linear-gradient(rgb(32, 189, 241), white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (max-width: 680px) {
  .App {
    padding: 5%;
  }
  .mainContainer {
    width: 90%;
    margin-left: 5%;
    height: 90vh;
    font-size: 1em;
  }
  .jobTitleContainer {
    margin-top: 15%;
  }
}
